<% if comment.id %>
	<p>
	  <%= comment.content %>
	</p>
	<p>
	  <%= link_to '删除', [comment.post, comment],
             :confirm => 'Are you sure?',
             :method => :delete %>
	</p>
<% end %>