
<div class="blog-index">
	<article role="article">
		<header>
			<h1 class="entry-title">New post</h1>
		</header>
	</article>

  	<article>
		<%= render 'form' %>
		<%= link_to 'Back', posts_path %>
	</article>
</div>